

body {
    background-color: blanchedalmond;
    font-size: 30px;
    max-width: 500px;
    margin: auto;
    text-align:center;
}


input[type=button], input[type=submit] {
  background-color: #205C37;
  border-radius: 8px;
  color: white;
  font-size: 25px;
  padding: 10px 10px;
  /* text-align: center; */
  touch-action:auto;

}


input[type=button]:hover, input[type=submit]:hover {
  background-color: #3A754E;
}

input[type=text] {
    border-radius: 8px;
    font-size: 25px;
    padding: 10px 0px;
    margin: 10px 0px;
    text-align: center;
}

input {
    width: 100%
}
