<!-- DO NOT MODIFY THIS FILE -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Trivia Quiz</title>
	<link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
	Trivia Quiz

	<form action="/" method="post">
		<label for="username">Please enter your username:</label><br>
		<input  type="text" id="username" name="username" value="<%- username %>"><br>
	</form> 

</body>
</html>