<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Quiz Game</title>
	<link rel="stylesheet" href="style.css" type="text/css"/>
</head>

<body>
	<h1>Welcome to Trivia Game</h1>

  <h2>
    How it works
  </h2>
<p>	
  You are given 5 lives. Answer a trivia question wrong and you will lose one life.
	Try to make it as far as possible and reach the high score.
</p>

	<button href="/game">Click here to play.</button><br><br>

	<hr>

  <h2>
    High Scores
  </h2>
	<button href="/highscores">View high scores</button>
	<br>
	<br>
	<button href="/remove">Delete saved high scores</button>
	<br>
	<hr>


</body>

</html>
